.top {
  width: 100%;
  height: 70px;
  position: sticky;
  top: 0;
  display: flex;
  background-color: white;
  align-items: center;
  z-index: 999;
  font-family: "Josefin Sans", sans-serif;
  border-bottom: 2px solid #f5f7f7;
}

.topLeft,
.topRight {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search {
  margin-right: 15px;
}

.topCenter {
  flex: 6;
  justify-content: space-between;
}

.topList {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.topListItem {
  margin-right: 20px;
  font-size: 15px;
  font-weight: 300;
  cursor: pointer;
}

.topListItem:hover {
  color: gray;
  border-bottom: 2px solid #ef86c1;
}
.search:hover {
  cursor: pointer;
}

.topImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
  cursor: pointer;
}

.topSearchIcon {
  font-size: 18px;
  color: #666;
  cursor: pointer;
}
.logo {
  width: 120px;
  height: 60px;
  /* border-radius: 50%; */
  object-fit: cover;
  margin-right: 140px;
  cursor: pointer;
  margin-top: 10px;
}
